<!DOCTYPE html>
<html>
    <center>
      <h1><%= @user.first_name %></h1>
      <br>
        Prénom : <%= @user.first_name %>
        <br><br>
        Nom : <%= @user.last_name %>
        <br><br>
        Email : <%= @user.email %>
        <br><br>
        Age : <%= @user.age %>
        <br><br>
        Ville : <%= link_to "#{@city.name}", city_path(@user.city_id), :class=>"my_link" %></a>
        <br><br>
        Description : <%=@user.description%>
        <br>
      <br>
      <br>
      <%= link_to "Revenir à la page d'accueil", root_path, :class=>"navbar-brand my_link" %>
      <br><br><br>
    </center>
  </body>
</html>