<!DOCTYPE html>
<html>
    <center>
    <br>
      <h1><p class = "text-secondary">Tous les potins de la ville de <%= @city.name %></p></h1>
      <br><br>
      <!-- POST-IT START -->
      <div class="container bootstrap snippets bootdeys">
        <div class="row">
          <% Gossip.all.each_with_index do |gossip, index| %>
            <% if User.find_by(id: gossip.user_id).city_id == @city.id%>
              <% inc = index % 5 %>
                <div class="col-4 content-card">
                  <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="<%= @colors[inc] %>" data-radius="none">
                      <div class="content">
                        <h6 class="category">par <%= gossip.user.first_name %></h6>
                        <h4 class="title"><a href="/gossips/<%= gossip.id %>"><%= gossip.title %></a></h4>
                        <p class="description"><%= gossip.content %></p>
                          <i class="fas fa-thumbs-up">
                            <%counter_like = 0%>
                            <%Like.all.each do |like|%>
                              <% if (like.gossip_id == gossip.id) then counter_like+=1 end%>
                            <% end %>
                            <%=counter_like%>
                          </i>
                        <%if current_user%>
                        <%if already_exists?(gossip)%>
                          <br><br><%=button_to "J'aime pas", likesgossip_path(id: gossip.id), :class=>"btn btn-success", method: :delete %>
                            <%else%>
                          <br><br><%=button_to "J'aime", likesgossip_index_path(gossip_id: gossip.id), :class=>"btn btn-success", method: :post %>
                        <%end%>
                      <%end%>
                      </div>
                    </div> <!-- end card -->
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- POST-IT END -->
      <br>
      <br>
      <%= link_to "Revenir à la page d'accueil", root_path, :class=>"navbar-brand my_link" %>
      <br><br><br>
    </center>
  </body>
</html>